#wrap {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
}

#number {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column-reverse;
    align-items: stretch;
}

#allTable {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
}